@font-face {
  font-family: 'Cherry Bomb One';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/cherrybombone/v1/CSR54z1ZnOqZRjRCYflsAZKq2gW-.ttf')
    format('truetype');
}
