$_main_color: #1e1e1e;
$_font_size_cherry: 'Cherry Bomb One', sans-serif;
$_font_size_chvo: 'Chivo', sans-serif;
$_font_size_baloo: 'Baloo Chettan', sans-serif;
$_background-color: linear-gradient(179.98deg, #50c9fc 42.39%, #4afff4 191.83%);
