<section class="container container-about" id="about">
  <h2>About the Game</h2>
  <div class="container-about-title-img-van">
    <p>
      Embark on a frosty adventure with Ice Crush 2, a thrilling match-3 puzzle
      game set in a winter wonderland. In this game, you’ll match sparkling ice
      crystals to complete levels and outsmart the mischievous snow monsters
      trying to freeze your progress. Each level presents unique challenges,
      from clearing ice blocks to collecting snowflakes, all set against a
      backdrop of beautifully animated snowy landscapes.
    </p>

    <picture>
      <source
        srcset="
          /img/about/rectangle-mobx1.png 1x,
          /img/about/rectangle-mobx2.png 2x
        "
        media="(max-width:1439px)"
      />

      <source
        srcset="
          /img/about/rectangle-deskx1.png 1x,
          /img/about/rectangle-deskx2.png 2x
        "
        media="(min-width: 1440px)"
      />
      <img src="/img/about/rectangle-mobx1.png" alt="icon" loading="lazy" />
    </picture>
  </div>
  <div class="container-about-title-img-second">
    <p class="title-about">
      As you journey through the icy world, you’ll unlock powerful boosters and
      special abilities that help you overcome more difficult levels. Whether
      you’re a seasoned match-3 player or new to the genre, Ice Crush 2 offers a
      perfect blend of strategy, excitement, and seasonal cheer. With hundreds
      of levels to explore, daily rewards, and special holiday events, this game
      promises endless entertainment. Dive into the wintery fun today and see
      how far you can go in your frosty quest!
    </p>
    <picture class="img-about">
      <source
        srcset="
          /img/about/rectangle6-mobx1.png 1x,
          /img/about/rectangle6-mobx2.png 2x
        "
        media="(max-width:1439px)"
      />

      <source
        srcset="
          /img/about/rectangle6-deskx1.png 1x,
          /img/about/rectangle6-deskx2.png 2x
        "
        media="(min-width: 1440px)"
      />
      <img src="/img/about/rectangle6-deskx1.png" alt="icon" loading="lazy" />
    </picture>
  </div>

  <picture class="bubble-about-pool">
    <source
      srcset="/img/about/bubble-poolx1.png 1x, /img/about/bubble-poolx2.png 2x"
      media="(min-width:1440px)"
    />

    <img src="/img/about/bubble-poolx1.png" alt="icon" loading="lazy" />
  </picture>
</section>
