<section class="container container-benefits" id="benefits">
  <h2>Benefits</h2>
  <ul class="benefits-list">
    <li class="benefits-list-list">
      <img
        class="img-benefits"
        src="/img/benefits/aicon-star.png"
        alt="aicon-star"
        loading="lazy"
      />
      <p class="benefits-title">Stars: 4.8</p>
    </li>
    <li class="benefits-list-list">
      <img
        class="img-benefits"
        src="/img/benefits/aicon-cloudupload.png"
        alt="aicon-cloud-upload"
        loading="lazy"
      />
      <p class="benefits-title">Downloads: 50,000+</p>
    </li>
    <li class="benefits-list-list">
      <img
        class="img-benefits"
        src="/img/benefits/aicon-megaphone.png"
        alt="aicon-megaphone"
        loading="lazy"
      />
      <p class="benefits-title">Reviews: 1,000+</p>
    </li>
    <li class="benefits-list-list">
      <img
        class="img-benefits"
        src="/img/benefits/aicon-game.png"
        alt="aicon-game"
        loading="lazy"
      />
      <p class="benefits-title">Play anytime, anywhere.</p>
    </li>
  </ul>
</section>
