<section class="container container-disclaimer">
  <div class="container-warning-title">
    <img
      class="img-warning-disclaimer"
      src="/img/disclaimer/icon-warningx1.png"
      alt="warning"
      loading="lazy"
    />

    <h2 class="disclaimer-page">Disclaimer</h2>
    <img
      class="img-warning-disclaimer"
      src="/img/disclaimer/icon-warningx1.png"
      alt="warning"
      loading="lazy"
    />
  </div>

  <p class="disclaimer-title">
    JOYGAMEBLISS.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
    PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
    GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
    PLAYING THIS GAME.
  </p>
</section>
