<section class="faq container">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-element">
      <span>How can I compete with friends?</span>
      <svg id="toggleSvg" class="icon plus-style" onclick="toggleText()" ;>
        <rect x="2" y="2" width="20" height="20" />
        <text id="svgText" x="12" y="14">+</text>
      </svg>
    </li>
    <li id="extraText" style="display: none">
      Connect the game to social media to compare scores with friends.
    </li>
  </ul>

  <script type="module" src="main.js"></script>
</section>
