<section class="faq container">
  <h2>FAQ</h2>
  <ul>
    <li>
      <span>How can I compete with friends?</span>
      <svg
        id="toggleSvg"
        width="24"
        height="24"
        fill="currentColor"
        style="cursor: pointer"
        onclick="toggleText()"
      >
        <circle
          cx="12"
          cy="12"
          r="10"
          stroke="black"
          stroke-width="2"
          fill="white"
        />
        <text
          id="svgText"
          x="12"
          y="16"
          font-size="16"
          text-anchor="middle"
          fill="black"
        >
          +
        </text>
      </svg>
    </li>
    <li id="extraText" style="display: none">
      Connect the game to social media to compare scores with friends.
    </li>
  </ul>

  <script src="script.js"></script>
</section>
