<footer class="container-footer-bag">
  <div class="footer container">
    <!-- <div class="bubble-img-little-home-11">
    <picture>
      <source
        srcset="/img/bubble-1x.png 1x, /img/bubble-1x.png 2x"
        media="(min-width:320px)"
      />
      <img src="/img/bubble-1x.png" alt="bubble-little" loading="lazy" />
    </picture>
  </div> -->
    <ul class="footer-list">
      <li class="footer-link">
        <a href="./policy.html" class="link">Privacy policy</a>
      </li>
      <span>/</span>
      <li class="footer-link">
        <a href="./terms.html" class="link">Terms and conditions</a>
      </li>
    </ul>
    <p class="footer-item">All rights reserved joygamebliss.com | 2024</p>
  </div>
</footer>
