<header class="header-beg">
  <div class="header container">
    <a href="./index.html">
      <span class="logo">
        BUBBLE
        <span class="logo-part">
          <span class="logo-letter" style="color: #f56610">C</span
          ><!--
    --><span class="logo-letter" style="color: #8747ff">O</span
          ><!--
    --><span class="logo-letter" style="color: #fd8006">C</span
          ><!--
    --><span class="logo-letter" style="color: #3eb635">O</span>
        </span>
      </span>
    </a>

    <nav class="nav-header">
      <ul class="header-list">
        <li class="header-list-list">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-list-list">
          <a class="header-nav-link" href="#about">About the Game</a>
        </li>
        <li class="header-list-list">
          <a class="header-nav-link" href="#play">How to Play</a>
        </li>
        <li class="header-list-list">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-list-list">
          <a class="header-nav-link" href="#swiper">Gallery</a>
        </li>
        <li class="header-list-list">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="header-burger">
      <svg class="burger-svg" width="44" height="44" aria-label="">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </div>
  </div>
</header>

<!-- mobile-menu -->
<div class="mobile-menu-wrapper visually-hidden">
  <div class="container-root-mobile container">
    <div class="container-mobile">
      <a class="mobile-menu-content-home" href="./index.html"
        ><div class="logo logo-mobile">
          BUBBLE
          <span class="logo-part">
            <span class="logo-letter" style="color: #f56610">C</span
            ><!--
    --><span class="logo-letter" style="color: #8747ff">O</span
            ><!--
    --><span class="logo-letter" style="color: #fd8006">C</span
            ><!--
    --><span class="logo-letter" style="color: #3eb635">O</span>
          </span>
        </div></a
      >

      <div class="mobile-menu-close">
        <svg class="burger-svg" width="44" height="44" aria-label="clouse">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </div>
    </div>

    <nav class="nav-header-mobile">
      <ul class="header-list-mobile">
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#about">About the Game</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#play">How to Play</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#swiper">Gallery</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
