<header class="header container">
  <div class="logo">
    BUBBLE
    <span class="logo-part">
      <span class="logo-letter" style="color: #f56610">C</span
      ><!--
    --><span class="logo-letter" style="color: #8747ff">O</span
      ><!--
    --><span class="logo-letter" style="color: #fd8006">C</span
      ><!--
    --><span class="logo-letter" style="color: #3eb635">O</span>
    </span>
  </div>

  <nav class="nav-header">
    <ul class="header-list">
      <li class="header-list-list">
        <a class="header-nav-link" href="./index.html">Home</a>
      </li>
      <li class="header-list-list">
        <a class="header-nav-link" href="#about">About the Game</a>
      </li>
      <li class="header-list-list">
        <a class="header-nav-link" href="#play">How to Play</a>
      </li>
      <li class="header-list-list">
        <a class="header-nav-link" href="#benefits">Benefits</a>
      </li>
      <li class="header-list-list">
        <a class="header-nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="header-list-list">
        <a class="header-nav-link" href="#faq">FAQ</a>
      </li>
    </ul>
  </nav>
  <div class="header-burger">
    <!-- <svg class="burger-svg" width="28" height="28" aria-label="">
      <use href="./img/symbol-defs.svg#icon-burger-2"></use>
    </svg> -->
    <!-- <p>X</p> -->
    <button>x</button>
  </div>
</header>
