<section class="container container-home">
  <div class="container-home-img">
    <picture>
      <source
        srcset="
          /img/home/123shots-tel1x.png 1x,
          /img/home/123shots-tel2x.png 2x
        "
        media="(max-width:1439px)"
      />

      <source
        srcset="
          /img/home/123shots_desk1x.png 1x,
          /img/home/123shots_desk2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <img src="/img/home/123shots-tel1x.png" alt="shots" loading="lazy" />
    </picture>
  </div>
  <div class="container-title-button-home">
    <h1 class="home-title">Bubble CoCo: Bubble shooter</h1>
    <a class="link-google-play" href="./index.html">
      <picture>
        <source
          srcset="/img/google-play.jpg 1x, /img/google-play2x.jpg 2x"
          media="(min-width:320px)"
        />

        <source
          srcset="/img/google-play.jpg 1x, /img/google-play2x.jpg 2x"
          media="(max-width: 1440px)"
        />
        <img src="/img/google-play.jpg" alt="google-play" loading="lazy" />
      </picture>
    </a>
  </div>
  <div class="bubble-img-home">
    <picture>
      <source
        srcset="/img/bubble-1x.png 1x, /img/bubble-2x.png 2x"
        media="(min-width:320px)"
      />
      <source
        srcset="/img/bubble-desk1x.png 1x, /img/bubble-desk2x.png 2x"
        media="(min-width:1440px)"
      />
      <img src="/img/bubble-1x.png" alt="bubble-img-litle" loading="lazy" />
    </picture>
  </div>

  <div class="bubble-img-litle-home">
    <picture>
      <source
        srcset="/img/bubble-1x.png 1x, /img/bubble-1x.png 2x"
        media="(min-width:320px)"
      />

      <img src="/img/bubble-1x.png" alt="bubble" loading="lazy" />
    </picture>
  </div>
</section>
