<section class="container container-how-to-play" id="play">
  <h2>How to Play?</h2>

  <picture class="icon-game-pic">
    <source
      srcset="
        /img/how-to-play/game-pic-tel1x.png 1x,
        /img/how-to-play/game-pic-tel2x.png 2x
      "
      media="(max-width:1439px)"
    />

    <source
      srcset="
        /img/how-to-play/game-pic-desk1x.png 1x,
        /img/how-to-play/game-pic-desk2x.png 2x
      "
      media="(min-width: 1440px)"
    />
    <img src="/img/how-to-play/game-pic-tel1x.png" alt="icon" loading="lazy" />
  </picture>
  <ul>
    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
          <span>1</span>
        </picture>
        <span>1</span>
      </div>
      <p>
        Swap adjacent ice crystals to create rows or columns of three or more
        identical ones.
      </p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>2</span>
      </div>
      <p>
        Match four or more ice crystals to create special crystals with unique
        effects.
      </p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>3</span>
      </div>
      <p>
        Remove obstacles like ice blocks and snow monsters by matching nearby
        crystals.
      </p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>4</span>
      </div>
      <p>
        Complete levels by collecting specific items or achieving score targets.
      </p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>5</span>
      </div>
      <p>Utilize special boosters to help clear challenging levels.</p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>6</span>
      </div>
      <p>
        Progress through the snowy map by completing levels and unlocking new
        challenges.
      </p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>7</span>
      </div>
      <p>Join special holiday events and challenges for additional rewards.</p>
    </li>

    <li class="how-to-play-list-list">
      <div class="container-img-stars">
        <picture class="icon-how-to-play-stars">
          <source
            srcset="
              /img/how-to-play/stars1x.png 1x,
              /img/how-to-play/stars2x.png 2x
            "
            media="(max-width: 1440px)"
          />
          <img src="/img/how-to-play/stars1x.png" alt="icon" loading="lazy" />
        </picture>
        <span>8</span>
      </div>
      <p>
        Compare scores and compete with friends by connecting the game to social
        media.
      </p>
    </li>
  </ul>

  <picture class="icon-bubble">
    <source
      srcset="
        /img/how-to-play/bubble-play-tel1x.png 1x,
        /img/how-to-play/bubble-play-tel2x.png 2x
      "
      media="(max-width:1439px)"
    />

    <img
      src="/img/how-to-play/bubble-play-tel1x.png"
      alt="icon"
      loading="lazy"
    />
  </picture>
</section>
<!-- m,m,mm -->
