<div class="mobile-menu-wrapper visually-hidden">
  <div class="container-root-mobile">
    <div class="container-mobile">
      <a class="mobile-menu-content-home" href="./index.html"
        ><div class="logo logo-mobile">
          BUBBLE
          <span class="logo-part">
            <span class="logo-letter" style="color: #f56610">C</span
            ><!--
    --><span class="logo-letter" style="color: #8747ff">O</span
            ><!--
    --><span class="logo-letter" style="color: #fd8006">C</span
            ><!--
    --><span class="logo-letter" style="color: #3eb635">O</span>
          </span>
        </div></a
      >

      <div class="mobile-menu-close">
        <svg class="burger-svg" width="44" height="44" aria-label="clouse">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </div>
    </div>

    <nav class="nav-header-mobile">
      <ul class="header-list-mobile">
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#about">About the Game</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#play">How to Play</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-list-list-mobile">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <div class="bubble-img-mobile">
      <picture>
        <source
          srcset="./img/bubble-1x.png 1x, /img/bubble-1x.png 2x"
          media="(min-width:320px)"
        />

        <img src="./img/bubble-1x.png" alt="bubble" loading="lazy" />
      </picture>
    </div>

    <div class="bubble-img-litle-mobile">
      <picture>
        <source
          srcset="./img/bubble-1x.png 1x, /img/bubble-1x.png 2x"
          media="(min-width:320px)"
        />

        <img src="./img/bubble-1x.png" alt="bubble" loading="lazy" />
      </picture>
    </div>
  </div>
</div>
