<section class="slider container">
  <div class="slider-header">
    <h2>Gallery</h2>
    <p>
      Immerse yourself in the beautiful, frosty landscapes of Ice Crush 2 and
      experience the magic of winter with every match!
    </p>
  </div>
  <div class="multiple-items">
    <!-- <img src="${photo1}" alt="Example Image" class="mobile-image" />
    <img src="${photo2}" alt="Example Image" class="mobile-image" />
    <img src="${photo3}" alt="Example Image" class="mobile-image" />
    <img src="${photo4}" alt="Example Image" class="mobile-image" />
    <img src="${photo5}" alt="Example Image" class="mobile-image" />
    <img src="${photo6}" alt="Example Image" class="mobile-image" /> -->

    <picture>
      <source
        srcset="/img/photo-1.png 1x, /img/photo-1-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/photo-1.png 1x, /img/photo-1-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="/img/photo-1.png" alt="Example Image" class="mobile-image" />
    </picture>

    <picture>
      <source
        srcset="/img/photo-2.png 1x, /img/photo-2-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/photo-2.png 1x, /img/photo-2-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="/img/photo-2.png" alt="Example Image" class="mobile-image" />
    </picture>

    <picture>
      <source
        srcset="/img/photo-3.png 1x, /img/photo-3-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/photo-3.png 1x, /img/photo-3-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="/img/photo-3.png" alt="Example Image" class="mobile-image" />
    </picture>

    <picture>
      <source
        srcset="/img/photo-4.png 1x, /img/photo-4-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/photo-4.png 1x, /img/photo-4-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="/img/photo-4.png" alt="Example Image" class="mobile-image" />
    </picture>

    <picture>
      <source
        srcset="/img/photo-5.png 1x, /img/photo-5-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/photo-5.png 1x, /img/photo-5-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="/img/photo-5.png" alt="Example Image" class="mobile-image" />
    </picture>

    <picture>
      <source
        srcset="/img/photo-6.png 1x, /img/photo-6-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/img/photo-6.png 1x, /img/photo-6-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="/img/photo-6.png" alt="Example Image" class="mobile-image" />
    </picture>
  </div>
</section>
