.container-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
  scroll-margin-top: 60px;
  @include media(desktop) {
    padding-top: 96px;
    padding-bottom: 70px;
    scroll-margin-top: 100px;
  }
}

.container-benefits h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-bottom: 36px;
  font-family: $_font_size_baloo;
  @include media(desktop) {
    font-size: 40px;
  }
}

.benefits-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  @include media(desktop) {
    display: flex;
    max-width: 1296px;
    gap: 178px;
    justify-content: center;
  }
}

.benefits-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-benefits {
  width: 92px;
  height: 92px;
  margin-bottom: 34px;
  @include media(desktop) {
    width: 128px;
    height: 128px;
  }
}

.benefits-title {
  @include font(16, 23);
  color: #000;
  margin: 0;
  font-family: $_font_size_chvo;
  @include media(desktop) {
    @include font(28, 26);
  }
}

.benefits-list li:nth-child(3) .benefits-title {
  width: 54px;
  justify-content: center;
  display: flex;
}

.benefits-list li:nth-child(1) .benefits-title {
  width: 54px;
  justify-content: center;
  display: flex;
}

.benefits-list li:nth-child(2) .benefits-title {
  width: 54px;
  justify-content: center;
  display: flex;
}

.benefits-list li:nth-child(4) .benefits-title {
  justify-content: center;
  display: flex;
  @include media(desktop) {
    width: 200px;
  }
}
