.faq {
  background: linear-gradient(179.98deg, #50c9fc 42.39%, #4afff4 191.83%);
}

.faq-title {
  font-family: Baloo Chettan;
  font-size: 24px;
  font-weight: 800;
  line-height: 34.56px;
  text-align: center;
  color: #1e1e1e;
  padding-top: 32px;
  padding-bottom: 18px;
}
.faq-list {
  padding-bottom: 32px;
}
.faq-item {
  background: linear-gradient(180deg, #8747ff 5.5%, #5d24c6 100%);
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 18px;
}

.faq-element {
  display: flex;
  opacity: 0px;
  align-items: center;
}

.faq-element-req {
  font-family: Chivo;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #efefef;
}

.faq-element-resp {
  font-family: Chivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;

  color: #efefef;
}

.icon {
  width: 32px;
  height: 32px;
  margin-left: auto;
  cursor: pointer;
  fill: currentColor;
}

@media screen and (min-width: 1440px) {
  .faq-title {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 100px;
  }
  .faq-item {
    padding: 40px;

    // position: relative;
  }
  .faq-item {
    box-sizing: border-box;
    flex: 0 0 calc(50% - 18px); /* Для ширины больше 1440px */
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .faq-element-req {
    font-size: 18px;
  }

  .faq-element-resp {
    font-size: 16px;
  }
}

.faq-item-content {
  display: none;
}
.toggle-symbol {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: yellow;
  font-size: 40px;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  color: #8747ff;

  @include media(desktop) {
    width: 40px;
    height: 40px;
  }
}
.faq-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-req {
  font-family: $_font_size_chvo;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #efefef;
  @include media(desktop) {
    @include font(18, 27);
    font-weight: 700;
  }
}

.faq-item-content p {
  font-family: $_font_size_chvo;
  font-weight: 400;
  @include font(12, 20);

  letter-spacing: 0.2px;
  color: #efefef;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @include media(desktop) {
    @include font(16, 27);
    font-weight: 700;
    gap: 8px;
  }
}
