.faq {
  background: linear-gradient(179.98deg, #50c9fc 42.39%, #4afff4 191.83%);

  .faq-title {
    font-family: Baloo Chettan;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.56px;
    text-align: center;
    color: #1e1e1e;
  }

  .faq-item {
    background: linear-gradient(180deg, #8747ff 5.5%, #5d24c6 100%);
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 18px;

    // position: relative;
  }

  .faq-element {
    display: flex;
    opacity: 0px;
    align-items: center;
  }

  .faq-element-req {
    font-family: Chivo;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.02em;
    // text-align: left;
    color: #efefef;
  }

  .faq-element-resp {
    font-family: Chivo;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    // text-align: left;

    color: #efefef;
  }

  .icon {
    // position: absolute;
    width: 32px;
    height: 32px;
    margin-left: auto;
    cursor: pointer;
    fill: currentColor;
  }

  @media screen and (min-width: 1440px) {
    .faq-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
    .faq-item {
      padding: 40px;

      // position: relative;
    }
    .faq-item {
      box-sizing: border-box;
      flex: 0 0 calc(50% - 18px); /* Для ширины больше 1440px */
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    .faq-element-req {
      font-size: 18px;
    }

    .faq-element-resp {
      font-size: 16px;
    }

    .plus-style rect {
      width: 40px;
      height: 40px;
    }

    .plus-style text {
      font-size: 16px;
    }

    /* Стиль для кнопки с минусом */
    .minus-style rect {
      // width: 40px;
      // height: 40px;
    }

    .minus-style text {
      font-size: 16px;
    }
  }
}
