.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
  @include media(desktop) {
    max-width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
