.header {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  z-index: 999;
  align-items: center;

  // position: fixed;
  // top: 0;
  // width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: $_font_size_cherry;
  @include font(24, 24);
  text-align: center;
  color: #f2ff62;

  @include media(desktop) {
    @include font(32, 32);
  }
}

.logo-part {
  letter-spacing: 0;
}

.header-list {
  display: flex;
  gap: 70px;
}

.header-nav-link {
  font-weight: 600;
  @include font(24, 52);
  letter-spacing: 0.02em;
}

.nav-header {
  display: none;

  @include media(desktop) {
    display: flex;
  }
}

.header-burger {
  @include media(desktop) {
    display: none;
  }
}
.burger-svg {
  stroke: #1e1e1e;
}
