.container-home {
  padding-top: 42px;
  position: relative;
  background-image: url(../img/home/bubble-tel1x.png),
    url(../img/home/bubble-tel-litl1x.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 21%, 95% 97%;

  @include media(desktop) {
    background-image: url(../img/bubble-1x.png);
    background-repeat: no-repeat;
    background-position: 5% 26%;
  }
}

.container-home-img {
  display: flex;
  max-width: 245px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
  @include media(desktop) {
    order: 2;
    max-width: 552px;
    height: 578px;
    margin-left: 0;
    margin-right: 0;
  }
}
.container-title-button-home {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 148px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  @include media(desktop) {
    order: 1;
    max-width: 500px;
    height: 302px;
    padding-top: 124px;
    margin-left: 42px;
    margin-right: 162px;
  }
}
.link-google-play {
  display: flex;
  max-width: 134px;
  // height: 40px;
  justify-content: center;
  align-self: center;
  padding-top: 28px;
  margin-bottom: 60px;
  @include media(desktop) {
    max-width: 294px;
    height: 86px;
    align-self: flex-start;
    padding-top: 58px;
  }
}

.home-title {
  font-family: $_font_size_cherry;
  font-weight: 400;
  color: #f2ff62;
  @include font(36, 46);
  @include media(desktop) {
    @include font(72, 80);
  }
}

.bubbletop-img-home {
  position: absolute;
  bottom: 418px;
  left: 28px;
  z-index: 1;
  opacity: 0.6;
  width: 104px;
  @include media(desktop) {
    bottom: 412px;
    left: 54px;
    width: 281px;
  }
}

.bubbleb-img-litle-home {
  position: absolute;
  bottom: 58px;
  right: 22px;
  z-index: 1;
  opacity: 0.6;
  width: 70px;

  @include media(desktop) {
    opacity: 0;
  }
}
#home {
  margin-top: 90px;
  height: 492px;
  @include media(desktop) {
    display: flex;
    padding-top: 68px;
    padding-bottom: 66px;
    height: auto;
  }
}
