.slider {
  background: linear-gradient(180deg, #8747ff 5.5%, #5d24c6 100%);
  text-align: center;

  h2 {
    padding-top: 32px;
    padding-bottom: 8px;
    font-family: 'Baloo Chettan';
    font-size: 24px;
    font-weight: 400;
    line-height: 34.56px;
    color: #ffffff;
  }

  p {
    padding-bottom: 18px;
    color: #efefef;
  }

  .multiple-items {
    display: flex;
    justify-content: center; // Центрируем слайды
    align-items: center;
    flex-wrap: nowrap; // Не переносить элементы на следующую строку
    img {
      display: block;
      margin: 0 auto;
      background-image: linear-gradient(180deg, #8747ff 5.5%, #5d24c6 100%);
    }

    position: relative; // Контейнер слайдера
    padding-bottom: 140px;

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      border: none;
      background: transparent; // Устанавливаем прозрачный фон

      // padding: 0;
      cursor: pointer;

      img {
        width: 38px; // Ширина стрелки
        height: auto;
      }
    }
    .slick-active {
      width: 24px;
      height: 12px;
      // gap: 0px;
      border-radius: 5px 0px 0px 0px;
      opacity: 0px;
      color: #f2ff62;
    }

    .slick-prev {
      left: 10px; // Отступ слева
    }

    .slick-next {
      right: 10px; // Отступ справа
    }
    .slick-dots {
      bottom: 80px;
    }
  }

  .mobile-image {
    width: auto;

    @media (max-width: 320px) {
      width: 153px;
    }
  }
  @media (max-width: 1440px) {
    // .slick-prev,
    // .slick-next {
    //   height: 180px;
    // }

    .slick-active {
      height: 120px;
    }
    .multiple-items {
      padding-bottom: 120px;
    }
  }

  @media (min-width: 320px) {
    .slick-prev,
    .slick-next {
      display: block; // Убрать нижние кнопки прокрутки, оставив боковые
      img {
        width: 38px; // Изменение размера стрелок для экранов до 320px
      }
      .slick-arrow {
        width: 38px;
      }
      .picture {
        padding-bottom: 32px;
      }
    }

    .slick-dots {
      display: none; // Скрыть нижние точки прокрутки для экранов до 320px
    }
  }

  // Общие медиа-запросы
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 40px;
      line-height: 34.56px;
      padding-bottom: 26px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.02em;
      padding-bottom: 40px;
    }
    .mobile-image {
      width: 215px;
    }
  }
}
