.swiper {
  background: linear-gradient(180deg, #8747ff 5.5%, #5d24c6 100%);
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}

.swiper-title {
  margin-top: 32px;
  padding-bottom: 8px;
  font-family: 'Baloo Chettan';
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
}

.swiper-description {
  font-family: Chivo;
  font-size: 12px;
  color: #efefef;
  max-width: 260px;
  margin: 0 auto;
  padding-bottom: 18px;
}

.swiper-carousel {
  padding-bottom: 32px;
  width: calc(100% - 160px);
  overflow-x: hidden;
  margin: 0 auto;
  justify-content: center;
}
.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 153px;
}

.swiper-carousel .swiper-button-prev::after,
.swiper-carousel .swiper-button-next::after {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  cursor: pointer;
  color: #f2ff62;
}

.swiper-carousel .swiper-button-prev {
  left: 14px;
}

.swiper-carousel .swiper-button-next {
  right: 14px;
}

@media screen and (min-width: 1440px) {
  .swiper-title {
    margin-top: 80px;
    padding-bottom: 26px;
    font-family: 'Baloo Chettan';
    font-size: 40px;
    font-weight: 400;

    line-height: 57.6px;

    color: #ffffff;
  }

  .swiper-description {
    font-family: 'Chivo';
    color: #efefef;
    padding-bottom: 40px;
    min-width: 1440px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .swiper-slide {
    width: 215px;
  }

  .swiper-carousel .swiper-pagination {
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }

  .swiper-carousel .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    opacity: 0.3;
    background: #e4e4e4;
    border-radius: 5px;
    transition: opacity 0.3s;
  }

  .swiper-carousel .swiper-pagination-bullet-active {
    opacity: 1;
    width: 24px;
    height: 12px;
    background: #f2ff62;
  }

  .swiper-carousel .swiper-pagination-bullet:active {
    transform: scale(1.5);
  }

  .swiper-carousel {
    padding-bottom: 152px;

    width: calc(100% - 300px);
    overflow-x: hidden;
    margin: 0 auto;
    padding-bottom: 152px;
    justify-content: center;
  }

  .swiper-carousel .swiper-button-prev {
    left: 90px;
  }

  .swiper-carousel .swiper-button-next {
    right: 90px;
  }
}
